welcome: 'Vítejte'
plural:
	zero: 'žádný člověk'
	one: '%d člověk'
	few: '%d lidé'
	other: '%d lidí'
blank: ''
options:
	zero: 'vypnuto'
	one: 'zapnuto'
normalize: 'Hodnota prvku %value ma byt %s.'
normalize2: 'Hodnota prvku %value.'
